prototype/statemachine/statemachine.asl.json
{
  "Comment": "StateMachine to run multiple ExtractFunctions and then TransformFunction",
  "StartAt": "RunExtractFunctions",
  "States": {
    "RunExtractFunctions": {
      "Type": "Map",
      "InputPath": "$",
      "ItemsPath": "$.extractPayloads",
      "MaxConcurrency": 4,
      "Iterator": {
        "StartAt": "ExtractStep",
        "States": {
          "ExtractStep": {
            "Type": "Task",
            "Resource": "${ExtractFunctionArn}",
            "End": true
          }
        }
      },
      "Next": "TransformStep"
    },
    "TransformStep": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:createApplication.sync",
      "Parameters": {
        "Name": "Transform serverless EMR",
        "Type": "SPARK",
        "ReleaseLabel": "emr-7.2.0",
        "InitialCapacity": {
          "DRIVER": {
            "WorkerConfiguration": {
              "Cpu": "2",
              "Memory": "8",
              "Disk": "20gb"
            },
            "WorkerCount": 1
          },
          "EXECUTOR": {
            "WorkerConfiguration": {
              "Cpu": "2",
              "Memory": "8",
              "Disk": "20gb"
            },
            "WorkerCount": 2
          }
        }
      },
      "Next": "Start Application",
      "ResultPath": "$.ApplicationDetails"
    },
    "Start Application": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:startApplication.sync",
      "Parameters": {
        "ApplicationId.$": "$.ApplicationDetails.ApplicationId"
      },
      "Next": "Run job",
      "ResultPath": null
    },
    "Run job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:startJobRun.sync",
      "Parameters": {
        "ApplicationId.$": "$.ApplicationDetails.ApplicationId",
        "ExecutionRoleArn": "${EMRServerlessJobExecutionRole}",
        "JobDriver": {
          "SparkSubmit": {
            "EntryPoint": "s3://${EMRAssetsS3BucketName}/code/pyspark/extreme_weather.py",
            "EntryPointArguments": [],
            "SparkSubmitParameters": "--conf spark.hadoop.hive.metastore.client.factory.class=com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory"
          }
        }
      },
      "Next": "Stop Application",
      "ResultPath": null
    },
    "Stop Application": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:stopApplication.sync",
      "Parameters": {
        "ApplicationId.$": "$.ApplicationDetails.ApplicationId"
      },
      "End": true
    }
  }
}

