prototype/statemachine/statemachine.asl.json
{
  "Comment": "StateMachine to run multiple ExtractFunctions and then TransformFunction",
  "StartAt": "RunExtractFunctions",
  "States": {
    "RunExtractFunctions": {
      "Type": "Map",
      "InputPath": "$",
      "ItemsPath": "$.extractPayloads",
      "MaxConcurrency": 4,
      "Iterator": {
        "StartAt": "ExtractStep",
        "States": {
          "ExtractStep": {
            "Type": "Task",
            "Resource": "${ExtractFunctionArn}",
            "End": true
          }
        }
      },
      "Next": "TransformStep"
    },
    "TransformStep": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:createApplication.sync",
      "Parameters": {
        "Name": "TransformServerlessEMR",
        "Type": "SPARK",
        "NetworkConfiguration": {
          "SecurityGroupIds": [
            "${SecurityGroupId}"
          ],
          "SubnetIds": [
            "${ServerlessEMRPrivateSubnet1Id}",
            "${ServerlessEMRPrivateSubnet2Id}",
            "${ServerlessEMRPrivateSubnet3Id}"
          ]
        },
        "ReleaseLabel": "emr-6.15.0",
        "InitialCapacity": {
          "DRIVER": {
            "WorkerConfiguration": {
              "Cpu": "1",
              "Memory": "4",
              "Disk": "20gb"
            },
            "WorkerCount": 1
          },
          "EXECUTOR": {
            "WorkerConfiguration": {
              "Cpu": "1",
              "Memory": "4",
              "Disk": "20gb"
            },
            "WorkerCount": 1
          }
        }
      },
      "Next": "Start Application"
    },
    "Start Application": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:startApplication.sync",
      "Parameters": {
        "ApplicationId.$": "$.ApplicationId"
      },
      "Next": "Run job",
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error-info",
          "Next": "Stop Application"
        }
      ]
    },
    "Run job": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:startJobRun.sync",
      "Parameters": {
        "ApplicationId.$": "$.ApplicationId",
        "ExecutionRoleArn": "${EMRServerlessJobExecutionRole}",
        "JobDriver": {
          "SparkSubmit": {
            "EntryPoint": "s3://${EMRAssetsS3BucketName}/code/pyspark/spark-job-emr.py",
            "EntryPointArguments": [],
            "SparkSubmitParameters": "--conf spark.hadoop.hive.metastore.client.factory.class=com.amazonaws.glue.catalog.metastore.AWSGlueDataCatalogHiveClientFactory"
          }
        }
      },
      "Next": "Stop Application",
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error-info",
          "Next": "Stop Application"
        }
      ]
    },
    "Stop Application": {
      "Type": "Task",
      "Resource": "arn:aws:states:::emr-serverless:stopApplication.sync",
      "Parameters": {
        "ApplicationId.$": "$.ApplicationId"
      },
      "End": true
    }
  }
}